<section class="features-one-section">
  <div class="feature-header fade-up">
    <p class="three-features">LISTENERの3つの特徴</p>
  </div>

  <div class="three-features-container fade-up delay-1">

    <div class="feature-number">
      FEATURE <span>01</span>
    </div>

    <div class="feature-one-heading fade-up delay-2">
      <h3 class="feature-one-title">
        音読練習に特化した教材
      </h3>
    </div>

    <div class="feature-one-description fade-up delay-3">
      <%= render "before_login_pages/swiper" %>
      <p class="feature-one-subtitle">
        自宅でいつでも音読トレーニング<br>
        授業の復習・英検対策に最適
      </p>
    </div>
  </div>
</section>
