<section class="features-two-section">
  <div class="features-two-section-inner">

    <p class="feature-number fade-up">
      FEATURE <span>02</span>
    </p>

    <div class="fade-up delay-1">
      <h2 class="feature-two-title">
        全ての音声に日英のスクリプト
      </h2>
    </div>

    <div class="feature-two-container">

      <div class="feature-two-item fade-up delay-3">
        <%= image_tag "english.png", class:"feature-script" %>
        <p>英語のスクリプトで練習</p>
      </div>

      <i class="fa-solid fa-right-long"></i>

      <div class="feature-two-item fade-up delay-2">
        <%= image_tag "japanese.png", class:"feature-script" %>
        <p>いつでも和訳が確認できる</p>
      </div>

    
    </div>

  </div>
</section>