<%
  features = [
    { title: "Reading", subtitle: "音読トレーニング", image: "student_reading.jpg" },
    { title: "Listening", subtitle: "オーバーラッピング", image: "overlapping.png" },
    { title: "Listening", subtitle: "シャドーイング", image: "shadowing.jpeg" }
  ]
%>

<section class="features-title-section">
  <div class="features-section-inner">

    <div class="feature-header fade-up">
      <p class="features-training">英語の土台を作る3つのトレーニング</p>
    </div>
    <div class="feature-description-container">
      <% features.each do |feature| %>
        <div class="feature-description-item">
          <h3 class="feature-title"><%= feature[:title] %></h3>
          <p class="feature-subtitle"><%= feature[:subtitle] %></p>
          <%= image_tag feature[:image], alt: feature[:subtitle], class: "feature-image" %>
        </div>
      <% end %>
    </div>

  </div>
</section>
