<section class="features-three-section">
  <div class="features-three-section-inner">

    <p class="feature-number fade-up">
      FEATURE <span>03</span>
    </p>

    <div class="fade-up delay-1">
      <h2 class="feature-three-title">
        他にも便利な機能付き
      </h2>
    </div>

    <div class="feature-three-description-container">

      <div class="feature-three-description-item fade-up delay-3">
        <%= image_tag "eiken_score.jpg", class:"feature-three-image" %>
        <p>英検スコアの記録機能</p>
      </div>

      <div class="feature-three-description-item fade-up delay-4">
        <%= image_tag "favorite.jpg", class:"feature-three-image" %>
        <p>お気に入り追加機能</p>
      </div>

    </div>

  </div>
</section>