<!-- Swiper -->
  <div class="title-img-container">
    <div class="swiper">
      <div class="swiper-wrapper">
      <% @textbooks.each do |textbook| %>
        <div class="swiper-slide">
          <%= image_tag textbook.image, class: 'title-img' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>