<section class="feature-title-section">

  <div class="section-inner">

    <!-- FEATURE番号 -->
    <div class="feature-header fade-up">
      <p class="feature-number">
        FEATURE <span>01</span>
      </p>
    </div>

    <!-- タイトル -->
    <div class="feature-heading-group">
      <h2 class="feature-title fade-up delay-1">
        全テキスト対応
      </h2>
      <div class="fade-up delay-1">
        <%= render 'static_pages/swiper' %>
      </div>
    </div>

    <!-- 説明 -->
    <div class="feature-description fade-up delay-3">
      <p class="feature-subtitle">
        自宅学習はこれ一つ<br>
        授業の復習・英検対策に最適
      </p>

    </div>

  </div>
</section>