<section class="features-two-section">
  <div class="features-two-section-inner">

    <p class="feature-number fade-up">
      FEATURE <span>02</span>
    </p>

    <div class="feature-two-heading fade-up delay-1">
      <h2 class="feature-two-title">
        ストレスのない英語学習を
      </h2>
    </div>

    <div class="feature-two-description-container">

      <div class="feature-two-description-item fade-up delay-2">
        <%= image_tag "reading.jpg", class:"feature-two-image" %>
        <p>全ての音声に日英スクリプト<br>リピート・速度調整機能</p>
      </div>

      <div class="feature-two-description-item fade-up delay-3">
        <%= image_tag "eiken_score.jpg", class:"feature-two-image" %>
        <p>英検スコアの記録機能</p>
      </div>

      <div class="feature-two-description-item fade-up delay-4">
        <%= image_tag "favorite.jpg", class:"feature-two-image" %>
        <p>お気に入り追加機能</p>
      </div>

    </div>

  </div>
</section>