<section class="feature-one-title-section">
  <div class="feature-one-section-inner">

    <div class="feature-header fade-up">
      <p class="features">LISTENERでできる3つのトレーニング</p>
    </div>

    <div class="feature-description-container">
      <div class="feature-description-item">
        Reading
        <br>音読トレーニング
        <%= image_tag "/student_reading.jpg", width:"300px", height: "150px", class:"feature-image" %>
      </div>
      <div class="feature-description-item">
        Listening
        <br>オーバーラッピング
        <%= image_tag "/overlapping.png", width:"300px", height: "150px", class:"feature-image" %>
      </div>
      <div class="feature-description-item">
        Listening
        <br>シャドーイング
        <%= image_tag "/shadowing.jpeg", width:"300px", height: "150px", class:"feature-image" %>
      </div>
    </div>
    
  </div>
</section>