<div class="modal-background" id="modal">
    <div class="modal-inner">
      <div><i class="fa-solid fa-x"></i></div>
      <%= image_tag 'ontra_beginner.png', alt: '音トレ道場初段', class: 'modal-image' %>
      <h3 class="modal-textbook">音トレ道場初段</h3>
      <p class="modal-description">レベル：５級〜４級</p>
      <%= link_to "学習を始める", class: 'modal-button' %>
    </div>
</div>