<section class="sign-up-btn-container">
  <div class="sign-up-section">
      <h1>さあ、今すぐ始めよう</h1>
      <div class="hero-buttons fade-up delay-1 mt-4">
        <%= link_to "今すぐ始める",
              new_user_registration_path,
              class: "hero-btn hero-btn--primary" %>
      </div>
  </div>
</section>