<% content_for :title, t('.title') %>

<section class="text-container">
  <%= link_to '＜戻る', textbook_lesson_path(@textbook, @lesson.learning_mode), class: "back-btn" %>

  <h5 class="audio-title">音声スクリプト</h5>
  <section class="ja-en-container">
      <div class="english-container">
      Learning a new language is not something that can be achieved overnight. 
      </div>

      <div class="japanese-container">
        新しい言語を学ぶことは、一晩で達成できるものではありません。 
        そこには忍耐力、継続力、そして途中で失敗を受け入れる姿勢が必要です。 
      </div>
  </section>

  <div class="language-toggle-btn">
    <div class="english-btn btn-colored">英語</div>
    <div class="japanese-btn">日本語</div>
  </div>

  <%= render 'audios/sidebar' %>
  
</section>

<%= render 'audios/audio_player' %>