<section class="audio-list">
  <h5 class="audio-title">音声一覧</h5>

  <div class="audio-list-wrapper">
      <div>
        <span class="audio-name">
          ファイル名
          <span class="audio-icons">
            <i class="fa-regular fa-circle-check"></i>
            <i class="fa-solid fa-circle-exclamation"></i>
          </span>
        </span>
      </div>
      <div>
        <span class="audio-name">
          ファイル名
          <span class="audio-icons">
            <i class="fa-regular fa-circle-check"></i>
            <i class="fa-solid fa-circle-exclamation"></i>
          </span>
        </span>
      </div>
      <div>
        <span class="audio-name">
          ファイル名
          <span class="audio-icons">
            <i class="fa-regular fa-circle-check"></i>
            <i class="fa-solid fa-circle-exclamation"></i>
          </span>
        </span>
      </div>
      <div>
        <span class="audio-name">
          ファイル名

          <span class="audio-icons">
            <i class="fa-regular fa-circle-check"></i>
            <i class="fa-solid fa-circle-exclamation"></i>
          </span>
        </span>
      </div>
  </div>
</section>