<div class="audio-nav-container">
  <div class="audio-nav">
    <%= link_to textbook_lesson_path(@textbook, 'reading'), class: 'audio-nav-btn audio-nav-link' do %>
      <i class="bi bi-book-half"></i>
      <span>音読練習</span>
    <% end %>

    <%= link_to textbook_lesson_path(@textbook, 'listening'), class: 'audio-nav-btn audio-nav-link' do %>
      <i class="bi bi-book-half"></i>
      <span>リスニング</span>
    <% end %>
  </div>
</div>
