<div class="learning-container">
  <% if @last_audio %>

    <div class="learning-level">
      <div class="learning-header">

        <div>
          <h5>最後に学習した音声</h5>
          <span class="learning-subtitle">
            Last Studied Audio
          </span>
        </div>

        <div class="last-study-icon">
          <i class="fa-solid fa-clock-rotate-left"></i>
        </div>
      </div>

      <div class="last-audio-card">
      <%= link_to textbook_lesson_audio_path(
            @last_audio.lesson.textbook,
            @last_audio.lesson.learning_mode,
            @last_audio
          ),
          class: "last-audio-info" do %>

        <p class="last-audio-title">
          <%= @last_audio.title %>
        </p>

            <span class="last-audio-label">
              Continue Learning
            </span>
        <% end %>

        </div>
    </div>

  <% end %>

</div>