<div class="learning-progress-container">
  <div class="learning-level">

    <div
      class="progress-circle"
      style="--progress: <%= @progress %>;"
    >
      <div class="progress-circle-inner">
        <span><%= @progress %>%</span>
      </div>
    </div>

    <div class="learning-info">
      <% if current_user.name.present? %>
        <h5><%= current_user.name %>さんの習得率</h5>
      <% else %>
        <h5>Userの習得率</h5>
      <% end %>

      <p>
      <%= current_user.progress_message(@textbook) %>
      </p>
    </div>
  </div>
</div>