  <section class="audio-list">
    <%= link_to '＜戻る', textbook_path(1), class: "back-btn" %>

    <h5 class="audio-title">音声一覧</h5>
    <div class="audio-list-wrapper">
        <div>
            <%= link_to textbook_reading_path(1, 1),
                        class: "audio-name" do %> 
                  ファイル名  
            <% end %>
            <div class='audio-icons'>
              <i class="fa-regular fa-circle-check check-btn"></i>
            </div>
          
        </div>
    </div>
  </section>