/* ===== プレーヤー全体 ===== */
.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 18px 20px;
  background: #fff;
  color: gray;
  border-top: 1px solid rgb(207, 207, 207);
  z-index: 5;
}

/* ===== 進捗バーエリア ===== */
.audio-progress-area {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 18px;
}

/* ===== 時間 ===== */
.time-text {
  font-size: 13px;
  min-width: 40px;
  text-align: center;
}

.audio-progress {
  appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
}

.audio-progress::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;

  background: linear-gradient(
    to right,
    #28c2c2 var(--progress, 0%),
    #ddd var(--progress, 0%)
  );
}

.audio-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #28c2c2;
  border-radius: 50%;
  margin-top: -5px;
}

/* ===== コントロール ===== */
.audio-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* ===== ボタン共通 ===== */
.audio-btn {
  border: none;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: 0.2s;
}

/* hover */
.audio-btn:hover {
  opacity: 0.8;
}

/* ===== 小ボタン ===== */
.sub-btn {
  font-size: 30px;
  background: transparent;
  color: rgb(77, 77, 77);
}

.sub-btn.active,
.three-seconds.active {
  color: #28c2c2;
}

.three-seconds {
  background: transparent;
  color: rgb(77, 77, 77);
  font-size: 20px;
}

/* ===== 再生ボタン ===== */
.play-btn {
  width: 64px;
  height: 64px;
  background: #28c2c2;
  color: #fff;
}

.hidden {
  display: none;
}

.stop-btn {
  width: 64px;
  height: 64px;
  background: #28c2c2;
  color: #fff;
}

.bi-pause-fill {
  font-size: 34px;
}

/* ===== 再生アイコン ===== */
.play-icon {
  font-size: 34px;
}

/* ===== ループ ===== */
.loop-btn {
  width: 46px;
  height: 26px;
  font-size: 16px;
  background: transparent;
  color: rgb(68, 68, 68);
  border-radius: 30px;
  border: 2px solid #666;
}

.loop-btn.active {
  background-color: #28c2c2;
  color: #fff;
  border: 2px solid #28c2c2;
}

/* ===== speed select ===== */
.speed-select {
  width: 60px;
  height: 30px;
  font-size: 13px;
  border-radius: 16px;
  border: 2px solid #28c2c2;
  background: fff#2c2c2c;
  color: #28c2c2;
  font-weight: bold;
  padding: 0 4px;
}
