
.text-container {
  width: 100%;
  max-width: 700px;
  margin: 40px auto 0;

  display: flex;
  flex-direction: column;
}

/* 表示エリア */
.ja-en-container {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.english-container,
.japanese-container {
  flex: 1;
  max-height: 400px;
  overflow-y: auto;
  line-height: 1.8;
}


.hidden {
  display: none;
}

/* トグル（下） */
.language-toggle-btn {
  display: flex;
  height: 44px;
  width: 700px;
  background: #ddd;
  border-radius: 999px;
  overflow: hidden;
  position: fixed;
  
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.language-toggle-btn div {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.language-toggle-btn .active {
  background: #28c2c2;
  color: white;
}