<header class="lp-header">
  <div>
    <span class="logo-text">LISTENER</span>
  </div>

  <button class="hamburger" id="hamburger-btn" aria-expanded="false" aria-label="メニューを開く">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="hamburger-menu" id="hamburger-menu">
    <ul>
      <li class="nav-item">
        <i class="bi bi-headphones me-2"></i>
        ホーム
      </li>
      <li class="nav-item">
        <i class="bi bi-headphones me-2"></i>
        リスニングを学習する
      </li>
      <li class="nav-item">
        <i class="bi bi-headphones me-2"></i>
        リーディングを学習する
      </li>
    </ul>
  </nav>
  <div id="menu-overlay" class="menu-overlay"></div>
</header>