<% flash.each do |type, message| %>
  <div class="flash-message <%= type %>">
    <span><%= message %></span>

    <button
      type="button"
      class="flash-close-btn"
      onclick="this.parentElement.remove()"
    >
      ×
    </button>
  </div>
<% end %>