<div class="practice-description-container">
  <p>【効果的にリスニングトレーニングを行うために】</p>

  <div class="practice-note">
    <p>＊必ずテキストを用意して取り組みましょう。</p>
    <p>＊学習前に日本語訳を読み、内容を理解しておくと英語の音と意味を結び付けやすくなります。</p>
    <p>＊聞き取れなかった部分はテキストで確認し、何度も聞き直しましょう。</p>
  </div>

  <h1>【学習ステップを確認しよう】</h1>
  <i class="accordion-button fa-solid fa-circle-chevron-down"></i>
  <div class="accordion">
    <div>
      <h4>【STEP1】内容を理解しながら聞く</h4>

      <div class="practice-tip">
        <strong>STEP1で意識すること <i class="fa-regular fa-hand-point-up"></i></strong>
        <p>- まずはテキストを見ながら音声を聞きましょう。</p>
        <p>- 意味を理解することに注力してください。</p>
        <p>- 慣れてきたら、口パクや小さな声で音声に合わせて読んでみましょう。</p>
        <p>目標回数：5〜7回</p>
      </div>
    </div>

    <div>
      <h4>【STEP2】テキストを見ながら音声と同じスピードで音読（オーバーラッピング）</h4>

      <div class="practice-tip">
        <strong>STEP2で意識すること <i class="fa-regular fa-hand-point-up"></i></strong>
        <p>- 音声を再生し、聞こえてくる英語にできるだけ遅れないように音読しましょう。</p>
        <p>-「発音・リズム・イントネーション」をまねすることを意識してください。</p>
        <p>- 自分で発音できない箇所は何度も練習しましょう。</p>
        <p>目標回数：5〜10回</p>
      </div>
    </div>

    <div>
      <h4>【STEP3】テキストを見ずに聞く</h4>

      <div class="practice-tip">
        <strong>STEP3で意識すること <i class="fa-regular fa-hand-point-up"></i></strong>
        <p>- 音声を聞きながら、頭の中で英文や意味をできるだけ正確に再現してみましょう。</p>
        <p>- 英語を日本語に訳さず、そのまま理解することを目指します。</p>
        <p>- 内容が自然に理解できるようになるまで繰り返し聞きましょう。</p>
        <p>目標回数：3〜5回</p>
      </div>
    </div>

  </div>
</div>