<div class="practice-description-container">
  <p>【効果的に音読練習を行うために】</p>

  <div class="practice-note">
    <p>＊必ずテキストを用意して取り組みましょう。</p>
    <p>＊最初に日本語訳を読み、英文の内容を理解しておくと学習効果が高まります。</p>
    <p>＊回数をこなすことだけでなく、「意味を理解しながら読むこと」を意識しましょう。</p>
  </div>

  <h1>【学習ステップを確認しよう】</h1>
  <i class="accordion-button fa-solid fa-circle-chevron-down"></i>

  <div class="accordion">
    <div>
      <h4>【STEP1】黙読（サイレントリーディング）</h4>

      <div class="practice-tip">
        <strong>STEP1で意識すること <i class="fa-regular fa-hand-point-up"></i></strong>
        <p>- 音声を再生し、流れる英語と同じスピードで黙読しましょう。</p>
        <p>- 英語の「音」と「意味」を意識しながら読むことが大切です。</p>
        <p>- 慣れてきたら、口パクや小さな声で音声に合わせて読んでみましょう。</p>
        <p>目標回数：5回</p>
      </div>
    </div>

    <div>
      <h4>【STEP2】音読（オーバーラッピング）</h4>

      <div class="practice-tip">
        <strong>STEP2で意識すること <i class="fa-regular fa-hand-point-up"></i></strong>
        <p>- 音声を再生し、聞こえてくる英語にできるだけ遅れないように音読しましょう。</p>
        <p>-「発音・リズム・イントネーション」をまねすることを意識してください。</p>
        <p>-「英文の意味を頭で意識しながら」読むことで理解力も向上します。</p>
        <p>目標回数：5〜7回</p>
      </div>
    </div>

    <div>
      <h4>【STEP3】感情を込めた音読（表現音読）</h4>

      <div class="practice-tip">
        <strong>STEP3で意識すること <i class="fa-regular fa-hand-point-up"></i></strong>
        <p>- 自分がナレーターやスピーカーになったつもりで音読しましょう。</p>
        <p>- 登場人物や話し手の気持ちをイメージしながら読むことで、英語を英語のまま理解する力が育ちます。</p>
        <p>- 抑揚や感情表現も意識して取り組んでみましょう。</p>
        <p>目標回数：10回</p>
      </div>
    </div>

  </div>
</div>