<div class="practice-description-container">
    <p>【効果的に音読トレーニングをするために】</p>
    <div class="practice-note">
      <p>＊必ずテキストを用意して取り組みましょう。</p>
      <p>＊最初にテキストの日本語を読み、英文の内容を理解した上で取り組めると効果的です。</p>
    </div>
      <h1>【効果的なリーディング方法を確認しよう】</h1>
      <i class="accordion-button fa-solid fa-circle-chevron-down"></i>
    
      <div class="accordion">
        <div>
          <h4>【STEP1】「黙読」: 音声を再生し、流れる英文と同じ速度で黙読。</h4>

          <div class="practice-tip">
            <strong>STEP1で意識すること<i class="fa-regular fa-hand-point-up"></i></strong>
            <p>「英語の音」と「英語の意味」をしっかり理解しながら行ってください。</p>
            <p> 理解できたら、口パク・ボソボソ声で一緒に読んでみましょう。</p>
            <p> 目標回数：10回</p>
          </div>
        </div>

        <div>
          <h4>【STEP2】「音読」: 音声を再生し、流れる英文と同じ速度で音読。</h4>
          <div class="practice-tip">
            <strong>STEP2で意識すること<i class="fa-regular fa-hand-point-up"></i></strong>
            <p>流れてくる英語の音声をマネしながら音読すること。</p>
            <p>目標回数:10回</p>
          </div>
        </div>

        <div>
          <h4>【STEP3】「気持ちを込めて音読」 : 音声ナレーターになったつもりで音読してみましょう。</h4>
          <div class="practice-tip">
            <strong>STEP3で意識すること<i class="fa-regular fa-hand-point-up"></i></strong>
            <p>目標回数:10回</p>
          </div>
        </div>
      </div>

</div>