.textbook-show-container {
  width: 100%;
  max-width: 500px;
  margin: 40px auto 100px;
}

.back-btn {
  text-decoration: none;
  color: rgb(86, 86, 86);
}

.my-list-form {
  margin: 0;
}

.my-list-btn {
  width: 100%;

  padding: 10px 16px;

  border: 2px solid #ff5757;
  border-radius: 8px;

  background: white;
  color: #ff5757;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;

  transition: all 0.3s ease;
}

.my-list-btn:hover {
  background: #fff5f5;
}

.my-list-btn.active {
  background-color: #ff5757;
  color: white;
  border: none;
}

.textbook-show-audio-container {
  display: flex;
  align-items: center; 
  gap: 20px;
}

.textbook-show-name {
  margin: 0;         
  line-height: 1.2;  
}

.textbook-show-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.textbook-show-img {
  margin: 20px 0;
  flex-shrink: 0;
  width: 180px;
  height: 240px;
  object-fit: cover;
  -webkit-user-drag: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
