.audio-nav-container {
  width: 100%;
  margin: 0 auto;
}

.audio-nav {
  display: flex;
  gap: 12px;
}

.audio-nav-btn {
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 18px;
  background: #fff;
  text-decoration: none;

  transition:
    transform 0.2s,
    box-shadow 0.2s,
    background-color 0.2s;
}

.audio-nav-btn i {
  font-size: 1.4rem;
  line-height: 1;
  color: #334155;

  transition: color 0.2s;
}

.audio-nav-btn:hover {
  background-color: rgb(227, 226, 226);
}

.audio-nav-link {
  font-size: 13px;
  font-weight: 500;
  color: #64748b;
  margin: 0;
  line-height: 1;
}

/* ================= SMARTPHONE ================= */

@media (max-width: 768px) {
  .audio-nav {
    gap: 10px;
    overflow-x: auto; /* 横スクロール可能 */
    padding-bottom: 4px;
    margin-top: 15px;
    -webkit-overflow-scrolling: touch;
  }

  .audio-nav::-webkit-scrollbar {
    display: none;
  }

  .audio-nav-btn {
    min-width: 75px;
    width: 75px;
    height: 75px;
    
    border-radius: 14px;
    gap: 6px;

    flex-shrink: 0;
  }

  .audio-nav-btn i {
    font-size: 1.2rem;
  }

  .audio-nav-link {
    font-size: 11px;
  }
}